@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: lightblue;
}
body div div{
  background: white;
  margin-top: 15%;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #444;
  text-align: center;
}
form input {
  text-align: center;
}
form input {
  padding: 5px 10px;
  font-size: 18px;
  border: 2px black solid;
  border-radius: 50px;
  margin: 20px 0;
}
form button {
  margin-top: 10px;
  font-size: 20px;
  border: none;
  background: lightgreen;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 10px;
}
main{
    text-align: center;
    margin-top: 20px;
}